/* greys: #e3e3e3 , #9e9e9e , #7e7e7e , #4d4d4d , #383838 */
#header {
  font-size:1.8em;
  margin-bottom:12px;
  padding:8px;
  background-color:#e3e3e3;
  border: 1px solid #9e9e9e;
  border-top:none;
}
p.title {
  padding:4px;
  margin-bottom:12px;
  background-color:#e3e3e3;
  border-bottom: 1px solid #9e9e9e;
  font-size:120%;
}
p.runcommand {
    margin-left:8px;
}
#configuration, #commands, #management {
  border: 1px solid #9e9e9e;
  margin-bottom:12px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
}
#configuration {
  height:474px;
}
#setvhost_title {
  margin:0px;
  margin-left:4px;
  padding:0px;
}
.vhost {
  font-family:monospace;
  font-size:12px;
}

.command, .management {
  list-style:none;
  margin:10px;
  margin-left:4px;
  border-top: 1px solid #e3e3e3;
  cursor:pointer;
  font-family:monospace;
  font-size:12px;
}
.open_close {
  width:22px;
  height:22px;
  cursor:pointer;
  display:block;
  float:left;
  background:url(/static/img/iconsprite.png) no-repeat scroll -30px -15px;
}
